{% extends 'base.html.twig' %} {% block title %}
<title>
  Home
</title>
{% endblock %} {% block body %}



  <!-- Page Content -->
  <div class="container-fluid" id="div-banner">
      <div class="row">
    <!-- Jumbotron Header -->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" id="banner-space" style="min-width:100%;">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner d-flex img-responsive" id="width-banner">
          <div class="carousel-item active ">
            <img style="min-width:100%;" src="{{asset('images/img5.jpg')}}" alt="First slide">
          </div>
          <div class="carousel-item img-responsive">
            <img style="min-width:100%;" src="{{asset('images/banner.jpg')}}" alt="Second slide">
          </div>
          <div class="carousel-item img-responsive">
            <img style="min-width:100%;" src="{{asset('images/img6.jpg')}}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>


    <h1 id="product-title">Our Exeptional Chocolate Collection</h1>
    

    <!-- Page Features -->
    <div class="row text-center">
      {% for row in result %}

      <div class="col-lg-3   col-md-8 mb-8">
        <div class="card">
          <img class="card-img-top mx-auto" src="{{asset('uploads/images/'~row.image)}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{row.name}}</h4>
            <p class="card-text">{{row.description[:20]}} ...</p>
          </div>
          <div class="card-body">
            <p class="card-text">{{row.price}} €</p>
          </div>
          <div class="card-footer">
            <a href="{{path('product',{id:row.id})}}" class="btn btn-primary">See Product</a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
    <!-- /.row -->
  </div>

  

{% endblock %}