/* Navbar */

@media only screen and (max-width : 768px) {
  .nav-link {
    text-align: center !important;
  }
  }

  @media only screen and (max-width : 768px) {
    .fa-shopping-cart {
      margin-left: 250px !important;
    }
    }

  .navbar {
    opacity: 0.965;
    box-shadow: 1px 1px 5px rgb(41, 41, 41);
  }

  /* Title */
  
  h1 {
    margin-top: 80px;
  }

  #product-page {
    margin-top: 120px;
  }

  #btn-sign {
    margin-bottom: 15px;
  }

  #btn-login {
    margin-bottom: 15px;
  }

  .fas {
    font-size: 1.8rem;
    text-align: right;
  }

#add-product {
  margin-top: 100px;
}

#add-category {
  margin-top: 80px;
}

.card-img-top {
  /* width: 20rem;
  height:16rem; */
  background-size: cover;
}

footer{
  bottom: 0;
  width:100%;
}

.shopping-cart {
  padding-top: 300px;
  text-align: center;
}

.priceTotal {
  text-align: center;
  padding-bottom: 310px;
}

/* #banner-space { */
  /* background-image: url('/images/banner.jpg'); */
  /* background-size: cover;
  height: 900px; 
  width: 100%; */
/* } */


#width-banner {
  background-size: contain;
  height: 100%; 
  width: 100%;
  padding: 0;
  margin: 0;
}


#div-banner {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.fa-shopping-cart {
  color: white;
  padding-top: 5px;
}

.fa-shopping-cart:hover {
  color: darkgreen;
  padding-top: 5px;
}

.carousel-item{
  height:950px;
  width:100%;
  background-size: cover;
}

.carousel {
  margin-bottom: 55px;
}

#product-title {
  text-align: center;
  padding-bottom: 50px;
}