{% extends 'base.html.twig' %}

{% block title %}Category !{% endblock %}


{% block body %}
<div class="container" id="add-category">
    <h1>Add Category</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Add</button>
{{form_end(form)}}
</div>
{% endblock %}