{% extends 'base.html.twig' %}

{% block title %} 
    <title>
        Add Product 
    </title>
{% endblock %}

{% block body %}

<div class="container" id="add-product">
    <h1>Add Product</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Add Product</button>
{{form_end(form)}}
</div>





{% endblock %}