{% extends 'base.html.twig' %}

{% block title %}
    <title>
        Product
    </title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-md-5 mx-auto">
        <div class="card mb-3" id="product-page">
            <h3 class="card-header">{{product.name}}</h3>
            <img style="height: 710 px; width: 100%; display: block;" src="{{asset('uploads/images/'~product.image)}}" alt="Card image">
            <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                      </div>
                      <p class="mb-1"> {{product.description}} </p>
                    </a>
                  </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Catégorie: {{product.category.name}}</li>
            <li class="list-group-item">Price: {{product.price}} €</li>

            </ul>

            <div class="card-body">
                <form method="post" action="{{path('product_line', {id:product.id})}}">
                  <input type="number" name="number">
                  <button class="btn btn-primary">Add to cart</button>
                </form>
              </div>

            
            {# {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} #}
            <div class="card-footer text-muted">
                <a class="btn btn-primary" href="{{path('remove_product', {id:product.id})}}">Remove Product</a>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-primary" href="{{path('update_product', {id:product.id})}}">Update Product</a>
            </div>
            {# {% endif %} #}
        </div>
    </div>
</div>

{% endblock %}